#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  width: 100%;
}

.divHeader{
  display: table;
  /* text-align: center; */
  width: 100%;

}

@media screen {
  div.divHeader,
  div.divFooter {
    display: none;
  }
}

.logoLeft {
  /* display: table-cell; */
  display: inline;
  text-align: center;
  vertical-align: middle;
  min-width:30%;
  padding-left: 10px;
  padding-right: 150px;
  /* float: left; */
}

.logoRight {
  /* display: table-cell; */
  display: inline;
  text-align: center;
  vertical-align: middle;
  min-width:30%;
  padding-left: 10px;
  padding-right: 10px;
  /* float: right; */
}

.menu {
  z-index: 100000000000;
  position: fixed;
  top: 0;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ffffff;
}

.menu li {
  float: right;
}

.left {
  float: left;
}

button {
  padding: 10px;
  margin: 10px;
  background-color: #4dc3ff;
  border-style: none;
  color: #2c3e50;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

.menu .menu-element button {
  margin: 0px;
  font-weight: normal;
  background-color: #ffffff;
  display: block;
  color: #2c3e50;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.menu .danger button {
  margin: 0px;
  font-weight: normal;
  background-color: #ffffff;
  display: block;
  color: #2c3e50;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.menu li button:disabled {
  background: #ebebe0;
  color: #2c3e50;
  cursor: no-drop;
}

.menu li button:disabled:hover {
  background: #ebebe0;
  color: #2c3e50;
  cursor: no-drop;
}

.menu li button:hover {
  background-color: #4dc3ff;
}

.menu .danger button:hover {
  color: #ffffff;
  background-color: #e60000;
}

@media print {

  @page {
    margin-left: 1.5cm;
    margin-right: 1.5cm;
    margin-top: 3cm;
    margin-bottom: 3cm;
  }

  div.divHeader {
    /* width: 100%; */
    /* min-height: 10%; */
    /* height: 10%; */
    /* display: block; */
    /* position: fixed; */
    /* top: 0; */
  }

  div.divFooter {
    /* width: 100%; */
    /* min-height: 10%; */
    /* height: 10%; */
    /* display: block; */
    /* position: fixed; */
    /* bottom: 0; */
  }

  .container {
    margin: 0px;
  }

  header,
  nav,
  footer,
  .menu,
  .adv,
  .ndop {
    display: none;
  }

  section {

  }

}
